.input-viewer-tree {
  width: 100%;
  margin-right: 0%;
  float: left;
  justify-content: center;
  border: 1px solid rgba(231, 103, 103, 0.651);
}

.input-viewer-textbox {
  width: 42%;
  float: right;
  justify-content: center;
  border: 1px solid black;
}
